<?xml version="1.0" encoding="UTF-8"?>
    <rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
        <channel>
            <title>{{ blog.title }}</title>
            <description>{{ blog.description }}</description>
            <link>{{ page.base_url }}</link>

            <atom:link href="{{ page.base_url }}/feed.xml{{ #if page.query }}{{ page.query }}{{ /if }}" rel="self" type="application/rss+xml" />
            {{ #if next }}
            <atom:link href="{{ page.base_url }}{{ feed_pagination next }}" rel="next" type="application/rss+xml" />
            {{ /if }}
            {{ #if prev }}
            <atom:link href="{{ page.base_url }}{{ feed_pagination prev }}" rel="previous" type="application/rss+xml" />
            {{ /if }}

            {{ #each posts }}
                <item>
                    <title>{{ this.title }}</title>
                    <description><![CDATA[{{{ this.summary }}}]]></description>
                    <pubDate>{{ format_date this.timestamp "%a, %d %b %Y %T GMT" }}</pubDate>
                    <link>{{ ../page.base_url }}/{{ this.url }}</link>
                    <guid isPermaLink="true">{{ ../page.base_url }}/{{ this.url }}</guid>
                </item>
            {{ /each }}
    </channel>
</rss>